.elementor-74 .elementor-element.elementor-element-f32d8f8{padding:0px 0px 0px 0px;}.elementor-74 .elementor-element.elementor-element-0dc4fc4{text-align:center;}.elementor-74 .elementor-element.elementor-element-0dc4fc4 small{font-size:14px;line-height:1.2em;}