.elementor-75 .elementor-element.elementor-element-211c219{padding:20px 35px 0px 35px;}.elementor-bc-flex-widget .elementor-75 .elementor-element.elementor-element-e1d5102.elementor-column .elementor-column-wrap{align-items:center;}.elementor-75 .elementor-element.elementor-element-e1d5102.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-75 .elementor-element.elementor-element-e86f065 .aux-has-logo img{width:60px;}.elementor-75 .elementor-element.elementor-element-e86f065{width:auto;max-width:auto;}.elementor-75 .elementor-element.elementor-element-c628d79{text-align:left;width:auto;max-width:auto;align-self:center;}.elementor-75 .elementor-element.elementor-element-c628d79 .aux-menu-depth-0.current-menu-item > a{font-weight:600;}.elementor-75 .elementor-element.elementor-element-c628d79 .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-75 .elementor-element.elementor-element-c628d79 > .elementor-widget-container{margin:0px 0px 0px 50px;}.elementor-bc-flex-widget .elementor-75 .elementor-element.elementor-element-2efed0d.elementor-column .elementor-column-wrap{align-items:center;}.elementor-75 .elementor-element.elementor-element-2efed0d.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-75 .elementor-element.elementor-element-2efed0d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-75 .elementor-element.elementor-element-ee0701b > .elementor-widget-container{margin:0px 20px 0px 0px;}.elementor-75 .elementor-element.elementor-element-ee0701b{width:auto;max-width:auto;align-self:center;}.elementor-75 .elementor-element.elementor-element-7e3ae17 .aux-modern-button{padding:11px 45px 12px 45px;}.elementor-75 .elementor-element.elementor-element-7e3ae17 .aux-text{font-family:"Oswald", Sans-serif;font-size:13px;font-weight:bold;text-transform:uppercase;}.elementor-75 .elementor-element.elementor-element-7e3ae17{width:auto;max-width:auto;align-self:center;}@media(max-width:1024px){.elementor-75 .elementor-element.elementor-element-c628d79 .aux-fs-menu .aux-menu-item > .aux-item-content{font-size:40px;line-height:2em;}.elementor-75 .elementor-element.elementor-element-c628d79 > .elementor-widget-container{margin:0px 0px 0px 30px;}.elementor-75 .elementor-element.elementor-element-ee0701b > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-75 .elementor-element.elementor-element-e1d5102.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-75 .elementor-element.elementor-element-c628d79 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-75 .elementor-element.elementor-element-2efed0d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}}/* Start custom CSS for aux_menu_box, class: .elementor-element-c628d79 */.elementor-75 .elementor-element.elementor-element-c628d79 .aux-menu-depth-0.current-menu-item .aux-menu-label::after {
    position: absolute;
    top: 30px;
    left: 0;
    content: "";
    border-bottom: 1px solid #3D3D3D;
    width: 15px;
}

.elementor-75 .elementor-element.elementor-element-c628d79 .aux-menu-label {
    position: relative;
}/* End custom CSS */